.navbar {
  background-color: #f5487f;
  padding: 1rem;
  height: 80px;
  color: #fff;
}
.navbar nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:last-child {
  border: 3px solid #c7417b;
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 1px 8px;
  transition: all 0.3s;
}
.navbar a:last-child:active {
  background-color: #fff;
}

.navbar a:last-child:hover {
  border: none;
  background-color: white;
  color: #f5487f;
}
