.navbar {
  background-color: #f5487f;
  padding: 1rem;
  height: 80px;
  color: #fff;
}
.navbar nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar div {
  display: flex;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}
.navbar a:last-child {
  box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 3px 10px;
  text-align: center;
  transition: all 0.3s;
}
.navbar a:last-child:active {
  background-color: #fff;
}

.navbar a:last-child:hover {
  border: none;
  background-color: white;
  color: #f5487f;
}
